<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      class="form-horizontal"
      method="POST"
      action="/products"
      enctype="application/x-www-form-urlencoded"
    >
      <fieldset>
        <!-- Form Name -->
        <legend>Add Product</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="title">Title</label>
          <div class="col-md-4">
            <input
              id="title"
              name="title"
              type="text"
              placeholder="title"
              class="form-control input-md"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="thumbnail"
            >Thumbnail</label
          >
          <div class="col-md-4">
            <input
              id="thumbnail"
              name="thumbnail"
              type="text"
              placeholder="thumbnail"
              class="form-control input-md"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="price">Price</label>
          <div class="col-md-4">
            <input
              id="price"
              name="price"
              type="number"
              placeholder="price"
              class="form-control input-md"
            />
          </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="category">Category</label>
          <div class="col-md-4">
            <select id="category" name="category" class="form-control">
              <option value="">Choose</option>
              <option value="smartphone">SmartPhone</option>
              <option value="laptops">Laptops</option>
            </select>
          </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="brand">Brand</label>
          <div class="col-md-4">
            <select id="brand" name="brand" class="form-control">
              <option value="">Choose</option>
              <option value="apple">Apple</option>
              <option value="samsung">SamSung</option>
            </select>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="discountPercentage"
            >Discount</label
          >
          <div class="col-md-4">
            <input
              id="discountPercentage"
              name="discountPercentage"
              type="number"
              placeholder="discountPercentage"
              class="form-control input-md"
            />
            <span class="help-block">help</span>
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <div class="col-md-4">
            <button
              type="submit"
              id="singlebutton"
              name="singlebutton"
              class="btn btn-primary"
            >
              Add
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </body>
</html>
